<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Insert title here</title>
	<base th:href="@{${session.scheme} + '://' + ${session.host} + '/kcs/'}" />
	<script src="/js/jquery-2.1.4.min.js"></script>
	<style type="text/css">
	  html, body {
	    overflow: hidden;
	  }
	  #externalswf {
	    width: 800px;
	    height: 480px;
	  }
	</style>
</head>
<body>
	<div id="flashWrap">
		<embed id="externalswf" width="800" height="480" wmode="opaque" quality="high" 
			bgcolor="#000000" allowscriptaccess="always"
			type="application/x-shockwave-flash"	th:src="@{${session.scheme} + '://' + ${session.host} + '/kcs/mainD2.swf?api_token='
			+ ${session.token} + '&amp;api_starttime=' + ${session.starttime} + '&amp;world_ip=' + ${session.worldIp}}" 
			style="display: block !important;">
		</embed>
	</div>
</body>
</html>